#outputArea{
  display: none;
}

img {
  border-color: #ADD8E6;
  border-width: 10px;
  border-style: solid;
  height:300px;
  width: auto;
}
#outputLeft {
  text-align: center;
}

#outputRight {
  margin-top: 100px;
  text-align: center;
}
.container {
  padding: 50px;
  background-color: #DEEFF5;

}

.repoOutputLeft {
  text-align: left;
}

#gitUserForm {
  padding: 10px;
  text-align: center;
  margin: 50px;
  border-color: #ADD8E6;
  border-width: 5px;
  border-style: solid;
}


#outputBelow {
  text-align: left;
}
